.idea
.idea/*
node_modules/

# Coding standards
/vendor/dealerdirect
/vendor/phpcsstandards
/vendor/phpcompatibility
/vendor/squizlabs
/vendor/wp-coding-standards
composer.lock
.phpcs.cache
.idea
.vscode